@keyframes showTop {
  0% {
    transform: translate(-100vw, -100%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes showBottom {
  0% {
    transform: translate(100vw, 100%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.person {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person img {
  border-radius: 20%;
}

.technologies {
  margin-top: 1.5rem;
  display: none;
}

.technologies.first.active {
  display: flex;
}

.technologies.second.active {
  display: flex;
}

.technologies.active .technology:nth-child(odd) {
  transform: translate(0, 0);
  animation: 1s showTop;
}

.technologies.active .technology:nth-child(even) {
  transform: translate(0, 0);
  animation: 1s showBottom;
}

.technologies .col {
  min-width: 33%;
  flex-grow: 1;
}

.technology {
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 13px 0px rgba(108, 0, 130, 0.5);
}

.technology-image {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.terrain {
  transform: translate(0, 0);
  animation: 1s fadeIn;
}

#about-us {
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .technologies {
    margin-top: 0;
  }

  #about-us {
    text-align: unset;
  }
}
