.security-form {
  flex: 1;
  margin: 2rem auto;
  padding: 4rem 2rem;
  border-radius: 1rem;
  background-color: #c4c4c4;
}

.flex-1 {
  flex: 1;
}

@media only screen and (min-width: 992px) {
  .security-form {
    width: 60%;
  }
}
