#options {
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  text-align: center;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

#rectangle-size #decrease {
  border-radius: 8px 0 0 8px;
}

#rectangle-size #increase {
  border-radius: 0 8px 8px 0;
}

#rectangle-size #input-wrap {
  margin: 0px;
  padding: 0px;
}

#rectangle-size #number {
  text-align: center;
  border: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: 992px) {
  #options {
    padding-top: 3rem;
  }
}
