<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Terrain flora drawer is an educational instrument for the flora of the world!">
        <meta name="keywords" content="Unity, terrain, noit, noit.eu, flora, flora.noit.eu, terrain, terrain generator">
        <link rel="manifest" href="/manifest.json" />
        <title>{% block title %}Terrain flora drawer{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
