#loading-alert-wrapper {
  /* position-absolute w-100 h-100 d-flex justify-content-center align-items-center */
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

/* .custom-alert {
  padding: 1rem;

  border: 2px solid #eeeeee;
  border-left-width: 6px;
  border-radius: 3px;
}

.success-al {
  border-left-color: #7fff00;
  background-color: rgba(128, 255, 0, 0.377);
}

.error-al {
  background-color: #ffa1a9;
} */
